.youtube-button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  box-shadow: none;
  cursor: pointer;
}

.youtube-logo {
  width: 10em;
  transition: filter 300ms, height 300ms;
  background: none;
  margin: 0;
  cursor: pointer;
}

.youtube-modal {
  position: absolute;
  top: 0%;
  left: 10%;
  width: 70vw;
  height: 70vh;
  border: 2px solid #888;
  border-radius: 8px;
  z-index: 1000;
  box-shadow: 0 0 20px #000;
  background: transparent;
}

.youtube-close-btn {
  float: right;
  margin: 8px;
}

.youtube-iframe {
  width: 100%;
  height: 95%;
  border: none;
}
