.TaskBar-Container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 70px;
    background-color: #333;
    display: flex;
    align-items: center;
    padding: 0 20px;
    border-top: 2px solid rgba(182, 180, 180, 0.596);
    }
/* .TaskBar-Logo {
    position: relative;
    background-color: transparent;
    padding: 0;
    display: flex;
    align-items: center;
} */
.Windows-Logo {
    top: 0px;
    position: relative;
    width: 60px;
    height: 60px;
    margin-right: 20px;
    cursor: pointer;
}

.texttaskbar{
   position: relative;
    top: 0px;
    border-radius: 99px;
    height: 45px;
    width: 300px;
    background-color: #8b8b8b62;
    color: rgb(201, 201, 201);
    font-size: 20px;
}
.texttaskbar::placeholder {
    color: #e0e0e0; 
    opacity: 1;    
    padding-left: 10px; 
}