/* Styles for the KeyDetailsPanel component */
.KeyDetailsDescription
{
    position: absolute;
    top: 2dvh;
    left: 300px;
    font-size: 3.5em;
    color: #b2b1b1b4;
    width:800px;
}
/* .TestButton{
    position: absolute;
    top: 80dvh;
    left: 50%;
    transform: translateX(-50%);
    height: 3em;
    width: 10em;
    font-size: 1.5em;
    border-radius: 12px;
    background-color: #646cff;
    color: white;
    border: none;
    cursor: pointer;
}
.TestButton:hover{
    background-color: #535bf2;
    filter: drop-shadow(0 0 1em rgba(93, 73, 245, 0.6));

} */
.KeyDetailsSearchBar{
    position: absolute;
    top: 100px;
    right: 50px;
    height: 2.5em;
    width: 20em;
    font-size: 1.5em;
    border-radius: 12px;
    padding: 0.5em;
    background-color: #242424;
    color: #a2a1a1;
    border: 2px solid #8d8d8d;
}
.keyDetailasSearchBar::placeholder{
    color: #e8e2e2;
}
.KeyDetailsSearchBar:hover{
    filter:drop-shadow 0 0 1em rgba(100, 108, 255, 0.6);
}.SubmitButton{
    position: absolute;
    top: 200px;
    right: 150px;
    height: 2.5em;
    width: 10em;
    font-size: 1.5em;
    border-radius: 12px;
    background-color: #646cff;
    color: white;
    border: none;
    cursor: pointer;
}
.SubmitButton:hover{
    scale: 1.1;
    background-color: #535bf2;
    filter: drop-shadow(0 0 1em rgba(93, 73, 245, 0.6));
}
.KeyDetailsTitle{
    position: absolute;
    top: 300px;
    left: 300px;
    font-size: 4em;
    color: #a4a5a5b4;
    width:800px;
}