.NavBar {
    position: fixed;
    top: 0;
    left: 0;
    font-size: small;
    width: 100%;
    height: 60px;
    padding: 10px 20px;
    background-color: #2f014b79;
    display: flex;
    align-items: center;
    justify-content: center;
}
.KeyDetailsPanelLink {
    color : #7d7d7d;
    border-radius: 12px;
    border-color: #39025c79;
    position: absolute;
    left: 150px;
    font-size: 2.5em;
    font-weight: bold;
    background: none;
    cursor: pointer;
}
.KeyDetailsPanelLink:hover {
    font-size: 2.8em;
    color: #b5b5b5;

}
.HomeLink{
    color : #7d7d7d;
    border-radius: 12px;
    border-color: #39025c79;
    position: absolute;
    left: 10px;
    font-size: 2.5em;
    font-weight: bold;
    background: none;
    cursor: pointer;
}
.HomeLink:hover {
    font-size: 2.8em;
    color: #b5b5b5;

}
