.Carousel-track.d-flex.align-items-center {
    z-index: 100;
    display: flex;
    align-items: center;
    will-change: transform;
}
.Carousel-btn-prev{
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    height: 40px;
    padding: 0 28px;
    cursor: pointer;
    border-radius: 20px;
    z-index: 1;
    transition: background-color 0.3s;
}    
.Carousel-btn-prev:hover {
    background-color: rgba(165, 165, 165, 0.8);
}
.Carousel-btn-next{
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    height: 40px;
    padding: 0 28px;
    cursor: pointer;
    border-radius: 20px;
    z-index: 1;
    transition: background-color 0.3s;
}   
.Carousel-btn-next:hover {
    background-color: rgba(165, 165, 165, 0.8);
}                           
.Carousel-item {
    z-index: 100;
    flex: 0 0 auto;
    width: 300px; 
    height: 225px; 
    margin-right: 15px;
    border-radius: 15px; 
    object-fit: cover;
    transition: transform 0.3s, box-shadow 0.3s;
}
.Carousel-item.top {
    position: relative;
}
.Carousel-item.top:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}
.Carousel-container {
    position: relative;
    margin-top: 200px;
    width: calc(100% - 40px);
    margin-left: 20px;
    margin-right: 20px;
    overflow: visible;
    z-index: 100;
}