.snake-game {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 20px;
}

h1 {
  margin: 20px 0;
}

canvas {
  border: 1px solid #000;
}
.snake-button {
   top: 170px;
   right:680px;
    position: relative;
    scale: 5;
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}