
.EyeIcon,
.EyeSlahIcon {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
}

/* Center the login container and form */
.LoginContainer {
  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: transparent;
}

.LoginHeader {
  font-size: 3em;
  color: #cececeb4;
  margin-bottom: 0.5em;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  background: rgba(0, 0, 0, 0.8);
  padding: 2em;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
  min-width: 300px;
}

.password-field {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
}

.loginInput,
.PasswordInput {
  background-color: #242424;
  height: 2.5em;
  width: 100%;
  font-size: 1.2em;
  margin: 0.1em;
  border-radius: 12px;
  border: 1px solid #555;
  color: #fff;
  padding: 0 1em;
  transition: border-color 0.3s;
}

.loginInput:focus,
.PasswordInput:focus {
  outline: none;
  border-color: #4102d462;
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}

.login-form-row {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 0.5em;
}

.loginSubmitbtn {
  border-radius: 9999px;
  background: #1c0758;
  cursor: pointer;
  filter: drop-shadow(0 0 .2em #4102d462);
  height: 2.5em;
  width: 10em;
  font-size: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  box-shadow: none;
  color: #fff;
  transition: transform 0.2s, background-color 0.3s;
}

.loginSubmitbtn:hover {
  filter: drop-shadow(0 0 .2em #4102d462);
  transform: scale(1.05);
  background-color: #421675;
}

.Toggle-Button {
  position: absolute;
  width: 50px;
  height: 50px;
  background: transparent !important;
  box-shadow: none !important;
  border: none !important;
  outline: none !important;
  right: 5px;
}

.EyeIcon,
.EyeSlahIcon {
  height: 30px;
  width: 30px;
  color: rgb(160, 160, 160);
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
}

.login-message {
  margin-top: 10px;
  color: white;
  text-align: center;
}
