#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.card {
  font-size: 10px;
  position: absolute;
  top: 0em;
  left: 50%;
  height: 10em;
  width: 10em;
  color: #fd49ee;
  cursor: pointer;
  margin: 2em;
}
.MusicButton {
  border-radius: 8px;
  background: #fd49ee;
  box-shadow: 0 8px 16px rgba(0,0,0,0.3);
  border: none;
  position: fixed;
  top: 28%; 
  left: 9%;
  height: 15em;
  width: 15em;
  transform: translate(-50%, -50%);
  transition: all 0.5s ease;
  padding: 3em;
  font-size: 2em;
  cursor: pointer;
}

.MusicButton:hover {
  background: #fd49ee;
  transform: translate(-50%, -50%);
  
}

.MusicButton.minimized {
  background-color: rgba(255, 255, 255, 0) !important;
  top: 12px !important;
  left: auto !important;
  right: 100px !important;
  transform: scale(0.1) !important;
  opacity: 0.2 !important;
}

.MusicButton.minimized:hover {
  transform: scale(0.15) !important;
}
.gif {
  position: absolute;
  top: 15em;
  left: 2%;
  height: 20em;
  width: 20em;
  cursor: pointer;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.gif.scaled {
  transform: scale(2.5);
}

.gif:hover {
  filter: drop-shadow(0 0 3em rgba(253, 73, 238, 0.6));
}
.cat{
  position: absolute;
  top: 200px;
  height: 20em;
  left: 50%;
  will-change: filter;
  transition: filter 300ms;
  animation: cat-spin infinite 10s linear reverse;
}
.logo {
  height: 5em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.cat:hover {
  filter: drop-shadow(0 0 2em #646cffd3);
  height: 25em;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffd3);
  height: 18em;
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61e4fbc2);
}

@keyframes cat-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.logoutButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: rgb(46, 46, 46);
  color: rgb(95, 95, 95);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  z-index: 1000;
  height: 30px;
  width: 80px;
  font-size: 1em;
}

.logoutButton:hover {
  background: #4a0380;
}
